<%= form_for(@patient) do |f| %>
  <% if @patient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@patient.errors.count, "error") %> prohibited this patient from being saved:</h2>

      <ul>
      <% @patient.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :firstname %><br />
    <%= f.text_field :firstname %>
  </div>
  <div class="field">
    <%= f.label :surname %><br />
    <%= f.text_field :surname %>
  </div>
  <div class="field">
    <%= f.label :patientid %><br />
    <%= f.text_field :patientid %>
  </div>
  <div class="field">
    <%= f.label :nhsno %><br />
    <%= f.text_field :nhsno %>
  </div>
  <div class="field">
    <%= f.label :active %><br />
    <%= f.check_box :active %>
  </div>
  <div class="field">
    <%= f.label :signature %><br />
    <%= f.text_area :signature %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :mobile %><br />
    <%= f.text_field :mobile %>
  </div>
  <div class="field">
    <%= f.label :notifymethod %><br />
    <%= f.text_field :notifymethod %>
  </div>
  <div class="field">
    <%= f.label :pmh %><br />
    <%= f.text_area :pmh %>
  </div>
  <div class="field">
    <%= f.label :drugs %><br />
    <%= f.text_area :drugs %>
  </div>
  <div class="field">
    <%= f.label :allergies %><br />
    <%= f.text_area :allergies %>
  </div>
  <div class="field">
    <%= f.label :notes %><br />
    <%= f.text_area :notes %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
